@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper 
{
    display: flex;
    border: 1px solid #000000;
}

.allInput 
{
    display: flex;
}

.chat
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 95px);
    margin: 0 auto;
    border: 3px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

.messageHistory 
{
    width: 100%;
    
    border: 1px solid black;
    height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-end;
}

.messageHistory p
{
    border: 1px solid black;
    width: 45%;
    /* height: fit-content; */
    margin: 0px;
    display: flex;
}

input[type="text"] 
{
    border: 1px solid black;
    width: 100%;
}

.messageHistory p:nth-child(1) 
{
    
}

.messageHistory p:nth-child(2) 
{
    margin-left: auto;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
{
    .chat, .messageHistory
    {
        height: calc(100vh - 95px);
    }
}