@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
    box-sizing: border-box;

}

div.App {
    display: flex;
    flex-direction: column;
}

div.App, div.wrapper, div.chat {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 400px;
    justify-content: space-between;
}
